.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #51ff00;
}

.data-controls {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 2rem;
}

.add-data-button {
  background-color: #51ff00;
  color: #0c0c0b;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Orbitron", sans-serif;
}

.selected-data-scroll {
  max-width: 600px; /* Limitar el ancho del scroll */
  max-height: 100px; /* Opcional: limitar la altura */
  overflow-x: auto; /* Activar scroll horizontal */
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

.selected-data-list {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.data-item {
  display: flex;
  align-items: center;
  min-width: 120px;
  max-width: 200px;
  flex-shrink: 0;
  text-align: center;
}

.data-box {
  background-color: #0c0c0b;
  border: 1px solid #0c0c0b;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}

.data-item.enabled .data-box {
  background-color: #51ff0033;
  color: #51ff00;
  border-color: #51ff0033;
  border-radius: 0px;
}

.data-box-enabled {
  background-color: #28a745;
  font-weight: bold;
}
