.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #51FF00;
}

.data-controls {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 2rem;
}

.add-data-button {
  background-color: #51FF00;
  color: #0C0C0B;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Orbitron", sans-serif;
}

.selected-data-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
}

.data-item {
  display: flex;
  align-items: center;
}

.data-box {
  background-color: #0C0C0B;
  border: 1px solid #0C0C0B;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}

.data-item.enabled .data-box {
  background-color: #51ff0033;
  color: #51FF00;
  border-color: #51ff0033;
  border-radius: 0px;
}

.selected-data-list li {
  display: flex;
  align-items: center;
  background: #0C0C0B;
  color: #51FF00;
  border-radius: 8px;
}

.fixed-carousel {
  width: 100%;
  max-width: 600px; /* Tamaño fijo del carrusel */
  overflow: hidden; /* Para evitar scroll horizontal */
  display: flex; /* Mantener la alineación de los elementos */
  justify-content: center; /* Centrar los elementos si hay menos de 4 */
  align-items: center;
  position: relative;
}

.carousel-content {
  display: flex;
  gap: 16px; /* Espaciado entre los elementos */
  width: 100%; /* Asegura que se ajuste al tamaño disponible */
  transition: transform 0.3s ease-in-out; /* Para el deslizamiento suave */
  justify-content: space-evenly; /* Espaciado uniforme entre elementos */
}

.carousel-content > .data-item {
  flex: 0 0 calc(25% - 16px); /* 25% del contenedor menos el espaciado */
  max-width: calc(25% - 16px); /* Garantiza que 4 elementos entren en el contenedor */
  min-width: 100px; /* Tamaño mínimo para elementos pequeños */
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.carousel-content > .data-item:nth-child(1) {
  margin-left: auto; /* Si hay menos de 4, alinear desde el centro */
}

.carousel-content > .data-item:nth-last-child(1) {
  margin-right: auto; /* Asegurar alineación */
}

.data-item.enabled {
  background-color: #28a745;
  color: white;
  border-color: #218838;
}

.data-box-enabled {
  background-color: #28a745;

  font-weight: bold;
}
