.contract-header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #0C0C0B;
}

.contract-icon {
  width: 80px;
  height: 80px;
  border-radius: 8px; /* Puedes ajustar el borde redondeado según el diseño */
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contract-header-text {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF;
}

.contract-address {
  color: #FFFFFF;
  font-size: 1rem;
  margin-top: 4px;
}