services:
  postgres:
    image: postgres:15
    container_name: indexer-db
    environment:
      POSTGRES_USER: indexer-user
      POSTGRES_PASSWORD: indexer-pass
      POSTGRES_DB: indexer-db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
