.event-log-row {
  background-color: #0C0C0B;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  padding: 16px;
  margin: 8px auto;
  transition: box-shadow 0.3s ease;
  max-width: 800px; /* Define el ancho máximo de las tarjetas */
}

.event-log-row:hover {
  box-shadow: 0 8px 15px rgba(81, 255, 0, 0.2);
  transform: translateY(-5px);
}

.event-log-row-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea el contenido a la izquierda */
  margin-bottom: 12px;
}

.event-signature {
  color: #51FF00;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 8px; /* Espacio entre la firma y los detalles */
}

.event-details {
  display: flex;
  gap: 20px;
  font-size: 0.9rem;
  color: #b3b3b3;
}

.event-details p {
  margin: 0;
}

.event-log-row-parameters {
  margin-top: 12px;
  padding-top: 8px;
  border-top: 1px solid #FFFFFF;
}

.parameters-title {
  font-size: 1rem;
  color: #51FF00;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: left;
}

.parameters-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: left; /* Alinea el texto a la izquierda */
}

.parameter-item {
  color: #b3b3b3;
  font-size: 0.9rem;
  display: flex;
  gap: 5px;
}

.parameter-item strong {
  color: #FFFFFF;
}
