.contracts-list-container {
  padding: 16px;
  color: #51FF00;
}

.contracts-list-title {
  font-size: 1.5rem;
  margin-bottom: 16px;
  color: #FFFFFF;
  text-align: center;
}

.add-contract-link {
  display: inline-block;
  margin-bottom: 16px;
  color: #51FF00;
  text-decoration: none;
  border: 1px solid #51FF00;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.add-contract-link:hover {
  background-color: rgba(81, 255, 0, 0.2);
}

.contracts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #0C0C0B;
  padding: 4px 12px;
  border: 2px solid #FFFFFF;
  border-radius: 0;
  margin-bottom: 16px;
  margin: 0 auto 16px;
  transition: box-shadow 0.3s ease;
  max-width: 600px;
  width: 100%;
}

.search-bar:focus-within {
  box-shadow: 0 0 10px rgba(81, 255, 0, 0.3); /* Sombra en enfoque */
}

.search-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  transition: transform 0.2s ease; /* Transición para el movimiento del icono */
}

.search-input {
  border: none;
  background: none;
  outline: none;
  color: #51FF00; /* Color del texto verde */
  font-size: 1rem;
  width: 100%;
  font-family: inherit;
}

/* Animación para levantar el icono */
.search-bar:focus-within .search-icon {
  transform: translateY(-3px); /* Mueve el icono hacia arriba cuando la barra está enfocada */
}