/* GraphQLTab.css */
.graphql-tab {
  margin-top: 20px;
  padding: 20px;
  background-color: #0C0C0B;
  color: #FFFFFF;
  font-family: 'Orbitron', sans-serif;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.graphql-title {
  font-size: 1.5rem;
  color: #51FF00;
  font-weight: bold;
  margin-bottom: 16px;
}

.graphql-error {
  color: red;
  font-size: 1rem;
  margin-bottom: 16px;
}

.graphql-textarea {
  width: 100%;
  padding: 10px;
  background-color: #0C0C0B;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  resize: vertical;
}

.graphql-editor {
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
}

.graphql-button {
  margin-top: 16px;
  padding: 10px 20px;
  background-color: #51FF00;
  color: #0C0C0B;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.graphql-button:hover {
  background-color: #3bbf00;
}

.graphql-result {
  margin-top: 24px;
  padding: 16px;
  background-color: #0C0C0B;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  min-width: 650px;
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.graphql-result-title {
  gap: 12px;
  font-size: 1.3rem;
  color: #51FF00;
  font-weight: bold;
  margin-bottom: 12px;
}

.graphql-result-content {
  color: #b3b3b3;
  font-size: 0.9rem;
  overflow-x: auto;
  white-space: pre-wrap;
  background-color: #0C0C0B;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #FFFFFF;
  text-align: left;
}

.graphql-result-content > div {
  text-align: left !important;
}