/* Footer.css */
.app-footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 16px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
}
