.time-range-selector {
  margin-bottom: 20px;
  font-family: 'Orbitron', sans-serif;
}

.time-range-selector label {
  color: #51FF00;
  margin-right: 10px;
}

.time-range-selector select {
  padding: 8px;
  background-color: #0C0C0B;
  color: #FFFFFF;
  border: 1px solid #51FF00;
  border-radius: 5px;
}
