@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-icon {
  animation: spin 1s linear infinite;
  width: 16px;
  margin-left: 5px;
  display: inline-block;
}
