:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #0C0C0B;

}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@font-face {
  font-family: 'Orbitron';
  src: url('/src/assets/Orbitron-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
}


