/* Header.css */
.app-header {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 4px 16px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;

.logo a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-left: 12px;
}

nav a {
  color: #bbb;
  text-decoration: none;
  font-size: 14px; /* Tamaño de fuente más pequeño */
  transition: color 0.3s ease;
}

nav a:hover {
  color: #fff;
}