.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #0C0C0B;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  max-height: 80%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.close-button {
  background: none;
  border: none;
  color: #51FF00;
  font-size: 20px;
  float: right;
  cursor: pointer;
}

.contracts-list,
.events-list {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.contracts-list button,
.events-list button {
  background: #0C0C0B;
  color: #51FF00;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.contracts-list button:hover,
.events-list button:hover {
  background: #51ff0033;
  color: #51FF00;

}

.contract-button {
  margin: 4px;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.contract-button.selected {
  background-color: #51FF00;
  color: #0C0C0B;
}

.events-modal-list {
  margin-top: 16px;
  max-height: 300px; /* Altura máxima de la lista de eventos */
  overflow-y: auto; /* Habilitar scroll vertical */
  border: 1px solid #51FF00;
  padding: 10px;
  background-color: #1A1A1A;
  border-radius: 4px;
  
}

.event-button {
  padding: 8px;
  border: 1px solid #51FF00;
  background-color: #0C0C0B;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: block; 
  width: 100%;
}

.event-button.selected {
  background-color: #51ff0033;
  color: white;
}

.event-button:hover {
  background-color: rgba(81, 255, 0, 0.2);
}

