.indexing-control {
  margin-top: 20px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-group {
  display: flex;
  gap: 16px; /* Espacio entre los botones */
  margin-top: 16px;
}

.indexing-button {
  color: #51FF00;
  text-decoration: none;
  font-size: 0.9rem;
  border: 1px solid #51FF00;
  padding: 8px 16px;
  border-radius: 0;
  background-color: #0C0C0B;
  transition: background-color 0.3s ease;
  font-family: 'Orbitron', sans-serif;
}

.indexing-button:hover {
  background-color: rgba(81, 255, 0, 0.2);
}

.delete-button {
  font-family: 'Orbitron', sans-serif;
  background-color: red;
  color: white;
  padding: 8px 16px;
  font-weight: bold;
  border: 1px solid red;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
}

.delete-button:hover {
  background-color: #ff4d4d;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.progress-bar {
  width: 85%; /* Ajusta el tamaño de la barra de progreso */
  height: 5px;
  background-color: #51FF00;
}

.progress-text {
  color: #FFFFFF;
  font-size: 0.9rem;
}

.indexing-control-container {
  margin-left: 7.5rem; /* Ajusta el valor según la distancia que quieras */
}

.input-spinner-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.spinner {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  border: 2px solid #FFFFFF;
  border-top: 2px solid #51FF00;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  color: #51FF00;
  font-size: 0.85rem;
  margin-top: 4px;
}

.logs-count-wrapper {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el texto, el input y el texto de carga */
}

.logs-count {
  font-size: 1.2rem;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.indexing-input {
  padding: 10px;
  border: 2px solid #51FF00;
  background-color: #0C0C0B;
  color: #FFFFFF;
  font-size: 1rem;
  font-family: 'Orbitron', sans-serif;
  width: 200px;
}

.input-spinner-wrapper {
  display: flex;
  align-items: center;
}

.loading-text {
  color: #51FF00;
  font-size: 0.85rem;
}
.loader {
  margin-left: 8px; /* Ajusta el margen si deseas espacio entre el texto y el loader */
}

.contract-info {
  margin-top: 20px;
  color: #51FF00;
  font-size: 0.9rem;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.contract-info span {
  font-family: 'Orbitron', sans-serif;
}
